body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#app {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#login {
    flex: 1;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}