@font-face {
    font-family: 'Vulf Sans';
    src: url('https://grantshandy.github.io/textrip/vulf-sans/VulfSans-Regular.woff2') format('woff2'),
    url('https://grantshandy.github.io/textrip/vulf-sans/VulfSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Vulf Sans';
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.graph {
    border: 3px solid #323232;
    border-radius: 15px;
    color: white;
    width: 70%;
    height: 50%;
}