/* @font-face {
    font-family: 'Vulf Sans';
    src: url('https://grantshandy.github.io/textrip/vulf-sans/VulfSans-Regular.woff2') format('woff2'),
    url('https://grantshandy.github.io/textrip/vulf-sans/VulfSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
} */

:root {
    --light: #EEF0F2;
    --dark: #04080F;
    --intense: #ED6A5E;
    --compliment: #FF8E72;
}

body {
    background-color: var(--dark);
    color: var(--light);
    margin: 0;
    text-align: center;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
}

.graph, .settings {
    display: inline-block;
    flex-flow: column;
}

.graph {
    width: 75%;
    border-right: 5px solid var(--light);
    background-color: darkblue;
}

.settings {
    width: 25%;
}

.loadingText {
    text-align: center;
}

.app {
    height: 100%;
    width: 100%;
}